@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Global */
html {
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 25rem;
    padding: 1.5rem;
    text-align: center;
}

.card,
.card-image {
    border-radius: 1.3rem;
}

/* Card image */
.card-image {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

/* Card text */
.text-wrapper {
    margin: 1rem;
}

.card-title {
    color: hsl(218, 44%, 22%);
    font-size: 2rem;
}

.card-text {
    font-size: 1.3rem;
    color: hsl(220, 15%, 55%)
}